<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="boat.SLDASM">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-5.68011670099268 -4.83638375442059 -7.2707294561624"
        rpy="0 0 0" />
      <mass
        value="14741370.1008789" />
      <inertia
        ixx="542167627.024516"
        ixy="-926408.460019823"
        ixz="216333873.233785"
        iyy="10818951167.988"
        iyz="-261059.500349136"
        izz="11098366052.4113" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://boat.SLDASM/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://boat.SLDASM/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>